.aba {
    width: 220px;
    height: 220px;
    border: 2px solid black;   
    border-radius: 18px;    
    margin: 10px;        
}

.aba h3 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: -10px;
    font-size: 24px;
    
}

.aba ul {
    list-style-type: none;
    margin: 15px;
    padding: 0px;
    line-height: 30px;
    text-align: left;
}

.aba li {
   
    font-size: 20px;
    text-align: center;
    padding-bottom: 15px;
}

#ensino {
    width: 710px;
}

#ensino table {
    margin: auto;

}

#divMatricula h3 {
    border: 2px solid black;   
    border-radius: 18px;
    width: 220px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 8px;         
}




