.avisos {
    width: 300px;
    height: 500px;
    border: 2px solid black;
    border-radius: 18px;
    background-color: white;       
    position: absolute;   
    left: 40px;          
}

.avisos section p {
    padding: 5px;
    text-align: justify;
    text-indent: 20px;  
    
}

.avisos section h1 {
    margin-top: 5px;
    text-align: center;
    font-size: 30px;
}

.avisos section h2 {
    text-align: center;
    font-size: 20px;
    
}

.avisos section h3 {
    text-align: left;
    font-size: 15px;
    color: black;
}



