.menu { 
    width: 800px;
    height: 500px;
    border: 2px solid black;   
    border-radius: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
    background-color: white;         
}


#con td, tr{
    padding: 10px;
    border: 2px solid black;    
    
}

#con {    
    flex-direction: column;
}

#con h3 {
    margin-top: -20px;
    font-size: 40px;
}

#ihc {
    flex-direction: column;
}

#ihc li {
    display: inline;
}

#ihc h3 {
    margin-top: -20px;
    font-size: 40px;
}