.login__formulario__botao {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 20px;
    padding: 5px;    
    border-radius: 15px;
    margin-top: 30px;
    background-color: #F8F9F9;
    margin-bottom: 40px;    
}

