.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    grid-template-areas:
                    "header"
                    "main"
                    "footer";
    height: 100vh;
  }